// Prevent adjustments of font size after 
// orientation changes in IE on Windows Phone and in ios
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

// apply a natural box layout model to all elements:
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: -webkit-box-sizing;
    box-sizing: border-box;
}

    body { background-color: orange; }