/*  ------------- NAV -------------  */
nav {
	ul {
		margin-left: 2%;
		border-left: 1px solid rgba(0,0,0,0.3);
	}
	ul li {
		
        
	}// end li
	ul li:last-child {border-right: 1px solid rgba(0,0,0,0.3);}
	ul li a {
		padding: .5rem 1rem;
	} // and a
} // end nav


/*  ------------- MAIN -------------  */
main {

    div.container1 div {
        -ms-flex: 29.333%; // default value for IE
        flex-basis: 33.333%;
    }
    
    
} // end main