/*-----HEADER SOCIAL ICONS-----*/
header {
	
    
    
    
    

} // end header

/*  ------------- MAIN -------------  */
main {
    
    div.parent {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
    
    
    
    
} // end main


