/*-----HEADER SOCIAL ICONS-----*/
header {
	
    
    
    
    

} // end header

/*  ------------- MAIN -------------  */
main {
    
	div.lead { grid-row: 1 / span 2; grid-column: 1; }
	div.secondTop { grid-row: 1; grid-column: 2; align-self: start; }
	div.secondBottom { grid-row: 2; grid-column: 2; align-self: end; }
    
} // end main


