$primaryColor: #302b27;
$secondaryColor:#baa256;
$fontColor: #dce2eb;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);

@mixin gradient() {
    background: #fac695; /* Old browsers */
    background: -moz-linear-gradient(top, #fac695 0%, #f5ab66 47%, #ef8d31 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */
}