@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap');

@import "variables";

@import "reset";

@import "small-default";

@media only screen and (min-width: 560px) {
    @import "medium";
} // end media query

@media only screen and (min-width: 1140px) {
    @import "large";  
} // end media query