html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    border: solid 2px #000000;
}

.flex-item {
    color: #fff;
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
}

.flex-item:first-child {
    background-color: #A62E5C;
}
.flex-item:nth-child(2) {
    background-color: cadetblue;
}
.flex-item:nth-child(3) {
    background-color: #675BA7;
}
.flex-item strong {
    display: block;
    font-size: 130%;
}
