nav {
    ul {
        margin-left: $gutter;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }
    ul li { width: auto;}
    ul li:last-child { border-right: 1px solid rgba(0, 0, 0, 0.3);}

    ul li a { padding: .5rem 1rem }
}

main {
    figure.photo { width: 25%-$gutterDouble; float: left; margin: .5rem $gutter;}

    div.blog article {
        float: left;
        width: 33.33% - $gutterDouble;
    }
    div.blog article:nth-child(2n + 1) { clear: none }
}