header, nav, main, footer { max-width: 60rem;  margin: 0 auto}

div#wrapper {
    max-width: 80rem;
    margin: 2rem auto;
    box-shadow: 0 0 5px 0;
    background-color: #ffffff;
}

nav {
    ul {
        margin-left: $gutter;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }
    ul li { width: auto;}
    ul li:last-child { border-right: 1px solid rgba(0, 0, 0, 0.3);}

    ul li a { padding: .5rem 1rem }
}

main {
    figure.photo { width: 25%-$gutterDouble; float: left; margin: .5rem $gutter;}

    div.blog article {
        float: left;
        width: 33.33% - $gutterDouble;
    }
    div.blog article:nth-child(2n + 1) { clear: none }
}