$primaryColor: #66000a;
$secondaryColor: #ccccb8;
$fontColor: #331912;
$accent: #8c8c38;

$defaultFont: 'Lato', sans-serif;
$gutter: 2%;
$normalWeight: 300;
$boldWeight: 700;

$gutterDouble: (2 * $gutter);