$primaryColor: #424264;
$secondaryColor: #bbc2ca;
$fontColor: #35373a;
$accent: #f1c517;

$defaultFont: 'Lato', sans-serif;
$gutter: 2%;
$normalWeight: 300;
$boldWeight: 700;

$gutterDouble: (2 * $gutter);